@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar {
        scrollbar-width: none;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
        -webkit-overflow-scrolling: touch;
    }

    .no-scrollbar::-webkit-scrollbar {
        width: 0;
        display: none;
    }
}